.custom-button,
.custom-button2 {
   background-color: #ffffff;
   color: black;
   border-radius: 2px;
   transition: background-color 0.3s ease, color 0.2s ease 0.2s; /* delay de 0.2s sรณ na cor */
}

.custom-button:hover,
.custom-button2:hover {
   background-color: #000000;
   color: rgb(255, 255, 255);
}

.nav-link-custom {
  width: 120px;     /* largura fixa */
  height: 40px;     /* altura fixa */
  display: flex;    /* para centralizar texto */
  align-items: center;
  justify-content: center;
  text-align: center;
}
